## **Notebook Description**

This notebook:
1. Evaluates the predicted results from the trained model based on Mean Absolute Error.

MAE gives a direct, interpretable measurement of the average error in the predictions. It's useful for understanding the typical error magnitude.

## **Import Libraries**

In [1]:
# import libraries

import pandas as pd
from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt
import seaborn as sns

## **Import Dataset**

In [2]:
# import csv

#Actual simulated labels
label_actual_df= pd.read_csv(r'data\2_prediction_testing\label.csv', header = None)

#Predicted labels
label_predict_df= pd.read_csv(r'data\2_prediction_testing\sensor_predictions.csv', header = None)
print('imported')

imported

In [3]:
label_actual_df

              0
0    596.414648
1    592.142129
2    594.472556
3    588.271100
4    597.765451
..          ...
587   75.272699
588   75.938974
589   77.658386
590   84.252479
591  183.565494

[592 rows x 1 columns]

In [4]:
label_predict_df

              0
0    412.007324
1    416.093079
2    420.178772
3    424.264526
4    428.350220
..          ...
587  453.356628
588  457.442352
589  461.528076
590  465.613770
591  469.699524

[592 rows x 1 columns]

## **Mean Absolute Error (MAE)**

In [5]:
actual_values = label_actual_df.iloc[:, 0]  # Selects all rows of the first (and only) column
predicted_values = label_predict_df.iloc[:, 0]  # Same as above

In [6]:
# Calculate MAE
mae = mean_absolute_error(actual_values, predicted_values)
print("Mean Absolute Error (MAE):", mae)

Mean Absolute Error (MAE): 225.54074895136654

Model's Predictions off by an average of the MAE points (same units)