## **Notebook Description**

This notebook:
1. Evaluates the predicted results from the trained model based on Mean Absolute Error.

MAE gives a direct, interpretable measurement of the average error in the predictions. It's useful for understanding the typical error magnitude.

## **Import Libraries**

In [1]:
# import libraries

import pandas as pd
from sklearn.metrics import mean_absolute_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## **Import Dataset**

In [2]:
# import csv

run_num = 'run_3'

#Actual simulated labels
label_actual_df= pd.read_csv(f'data/2_prediction_testing/label_{run_num}.csv', header = None)

#Predicted labels
label_predict_df= pd.read_csv(f'data/2_prediction_testing/sensor_predictions_{run_num}.csv', header = None)
print('imported')

imported

In [3]:
label_actual_df

              0
0    908.904802
1    914.244121
2    920.806450
3    923.886807
4    925.063670
..          ...
715  926.931346
716  925.996045
717  923.307567
718  918.986788
719  924.452975

[720 rows x 1 columns]

In [4]:
label_predict_df

              0
0    228.921173
1    235.702713
2    242.484222
3    249.265762
4    256.047302
..          ...
715  281.796997
716  288.578552
717  295.360077
718  302.141602
719  308.923126

[720 rows x 1 columns]

## **Mean Absolute Error (MAE)**

Mean Absolute Error (MAE): This is the average of the absolute errors between the predicted and actual values. It gives you an idea of how big of an error you can expect from the predictions on average.

In [5]:
actual_values = label_actual_df.iloc[:, 0]  # Selects all rows of the first (and only) column
predicted_values = label_predict_df.iloc[:, 0]  # Same as above

In [6]:
# Calculate MAE
mae = mean_absolute_error(actual_values, predicted_values)
print("Mean Absolute Error (MAE):", mae)

Mean Absolute Error (MAE): 366.9444129197266

## **Root Mean Squared Error (RMSE)**

This metric squares the errors before averaging them, heavily penalizing larger errors. This makes MSE sensitive to outliers. This is the square root of the MSE, which makes it more interpretable in the same units as the output

In [7]:
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

In [8]:
rmse = rmse(predicted_values,actual_values)
print("Root Mean Squared Error (RMSE):", rmse)

Root Mean Squared Error (RMSE): 420.38040999027027

## **R Squared score**

In [9]:
r2 = r2_score(actual_values, predicted_values)
print("R Squared Score (R2):", r2)

R Squared Score (R2): -1.245471438597534