## **Import Libraries**

MAE gives you a direct, interpretable measurement of the average error in the predictions. It's useful for understanding the typical error magnitude.

MSE emphasizes larger errors more than MAE due to the squaring of each error term, making it useful for situations where large errors are particularly problematic.

R² offers insight into the proportion of the variance in the sensor values that your model is able to predict, providing a normalized measure of model quality over different datasets or models

In [11]:
# import libraries

import pandas as pd
from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt
import seaborn as sns

## **Import Dataset**

In [5]:
# import csv
label_actual_df= pd.read_csv('data\labels.csv', header = None)
label_predict_df= pd.read_csv('sensor_predictions.csv', header = None)
print('imported')

imported

In [6]:
label_actual_df

               0
0     619.811831
1     605.288050
2     602.868616
3     605.962263
4     607.108691
..           ...
587  1013.392224
588  1037.916399
589  1055.641885
590  1072.103289
591  1103.024937

[592 rows x 1 columns]

In [8]:
label_predict_df

              0
0    428.228241
1    430.437561
2    432.646912
3    434.856293
4    437.065643
..          ...
587  453.328247
588  455.537567
589  457.746948
590  459.956268
591  462.165649

[592 rows x 1 columns]

## **Mean Absolute Error (MAE)**

In [9]:
actual_values = label_actual_df.iloc[:, 0]  # Selects all rows of the first (and only) column
predicted_values = label_predict_df.iloc[:, 0]  # Same as above

In [16]:
# Calculate MAE
mae = mean_absolute_error(actual_values, predicted_values)
print("Mean Absolute Error (MAE):", mae)

Mean Absolute Error (MAE): 335.5719983947985

Model's Predictions off by an average of the MAE points (same units)